@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

body {
    font-family: 'Noto Sans', sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #fff;

    &:hover {
       color: #123456;
    }
}

header {
    background-image: url(../../assets/img/orange.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.fs {    
    &-text-500 {
        font-weight: 500;
    }

    &-bg-blue-transparent {
        background: rgba(0, 60, 95, 0.5);
    }
    
    &-brand {
        font-family: 'Comforter Brush', cursive;
    }    
    
    &-countdown-number {
        width: 3.5rem;
        height: 3.5rem;
    }
    
    @include media-breakpoint-up(md) {        
        &-countdown-number {
            width: 5rem;
            height: 5rem;
        }

        &-mr--105 {
            margin-right: -10.5rem;
        }
    }

    @include media-breakpoint-up(lg) {        
        &-countdown-number {
            width: 6rem;
            height: 6rem;
        }
    }
}