header {
    background-image: url(../assets/img/winter.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: bottom;
}

.fs-bg-blue-transparent {
    background: rgb(3, 113, 175, 0.8);
}


$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 1024px;

.fs-countdown-number {
    width: 3.5rem;
    height: 3.5rem;
}

@media (min-width: $layout-breakpoint-medium) {
    .fs-countdown-number {
        width: 5rem;
        height: 5rem;
    }
}

@media (min-width: $layout-breakpoint-large) {
    .fs-countdown-number {
        width: 6rem;
        height: 6rem;
    }
}